<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>看板貼文 | PetGuardian</title>
    <link rel="stylesheet" th:href="@{/css/frontend/style.css}">
    <link rel="stylesheet" th:href="@{/css/frontend/components.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>

<body>
	<div th:if="${#fields.hasAnyErrors()}" class="error-box">
        <span class="error-title"> 
            <i class="fas fa-exclamation-circle"></i> 錯誤訊息：
        </span>
        <ul class="error-list">
            <li th:each="err : ${#fields.allErrors()}" ></li>
        </ul>
    </div>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.full.min.js"></script>
    <script th:src="@{/js/frontend/main.js}"></script>
    
    <script>
    	
    
    
    </script>
    
    
    
    
    
</body>

</html>