<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="panel-all-process" class="panel active">
		<div class="card">
			<h3>全部預約流程</h3>
			<table>
				<thead>
					<tr>
						<th>編號</th>
						<th>飼主 ID / 保母 ID</th>
						<th>日期</th>
						<th>狀態</th>
						<th>總額</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${allBookings}">
						<td th:text="'#BK-' + ${order.bookingOrderId}"></td>
						<td><span th:text="${order.memId}"></span> <i
							class="fa-solid fa-arrow-right"></i> <span
							th:text="${order.sitterId}"></span></td>
						<td th:text="${#temporals.format(order.startTime, 'MM-dd')}"></td>
						<td><span th:if="${order.orderStatus == 0}"
							class="badge status-wait">待確認</span> <span
							th:if="${order.orderStatus == 1}" class="badge status-ongoing">進行中</span>
							<span th:if="${order.orderStatus == 2}"
							class="badge status-ready">服務完成</span> <span
							th:if="${order.orderStatus == 5}" class="badge"
							style="background: #ddd;">已結案</span></td>
						<td
							th:text="'$' + ${#numbers.formatDecimal(order.reservationFee, 0, 'COMMA', 0, 'POINT')}"></td>
						<td>
							<button th:if="${order.orderStatus == 2}" class="btn"
								style="background: green;"
								th:onclick="'executePayout(' + ${order.bookingOrderId} + ')'">執行撥款</button>

							<button th:if="${order.orderStatus == 0}" class="btn ghost">催促保母</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</body>
</html>